In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("HandsOnPertemuan3").getOrCreate()

data = [
    ('James', 'Sales', 3000),
    ('Michael', 'Sales', 4600),
    ('Robert', 'Sales', 4100),
    ('Maria', 'Finance', 3000)]
columns = ['EmployeeName', 'Department', 'Salary']

df = spark.createDataFrame(data, schema=columns)
df.show()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/09/09 22:15:01 WARN Utils: Your hostname, bila-VirtualBox, resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
25/09/09 22:15:01 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/09/09 22:15:03 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

+------------+----------+------+
|EmployeeName|Department|Salary|
+------------+----------+------+
|       James|     Sales|  3000|
|     Michael|     Sales|  4600|
|      Robert|     Sales|  4100|
|       Maria|   Finance|  3000|
+------------+----------+------+

In [4]:
# TUGAS 1

# Menampilkan kolom tertentu saja
print("=== Nama dan Gaji Karyawan ===")
df.select("EmployeeName", "Salary").show()

# Filter data dengan kondisi (gaji lebih dari 3000)
print("=== Karyawan dengan gaji > 3000 ===")
df.filter(df.Salary > 3000).show()

# Mengelompokkan data berdasarkan departemen dan menghitung rata-rata gaji
print("=== Rata-rata gaji per departemen ===")
df.groupBy("Department").avg("Salary").show()

# Menghitung gaji maksimum per departemen
print("=== Gaji maksimum per departemen ===")
df.groupBy("Department").max("Salary").show()

# Mengurutkan data berdasarkan gaji tertinggi
print("=== Urutan gaji tertinggi ===")
df.orderBy(df.Salary.desc()).show()

=== Nama dan Gaji Karyawan ===
+------------+------+
|EmployeeName|Salary|
+------------+------+
|       James|  3000|
|     Michael|  4600|
|      Robert|  4100|
|       Maria|  3000|
+------------+------+

=== Karyawan dengan gaji > 3000 ===
+------------+----------+------+
|EmployeeName|Department|Salary|
+------------+----------+------+
|     Michael|     Sales|  4600|
|      Robert|     Sales|  4100|
+------------+----------+------+

=== Rata-rata gaji per departemen ===
+----------+-----------+
|Department|avg(Salary)|
+----------+-----------+
|     Sales|     3900.0|
|   Finance|     3000.0|
+----------+-----------+

=== Gaji maksimum per departemen ===
+----------+-----------+
|Department|max(Salary)|
+----------+-----------+
|     Sales|       4600|
|   Finance|       3000|
+----------+-----------+

=== Urutan gaji tertinggi ===
+------------+----------+------+
|EmployeeName|Department|Salary|
+------------+----------+------+
|     Michael|     Sales|  4600|
|      Robert|     Sales|  4100|
|       James|     Sales|  3000|
|       Maria|   Finance|  3000|
+------------+----------+------+

In [5]:
# Contoh operasi transformasi DataFrame
df.select('EmployeeName', 'Salary').show()
df.filter(df['Salary'] > 3000).show()
df.groupBy('Department').avg('Salary').show()

+------------+------+
|EmployeeName|Salary|
+------------+------+
|       James|  3000|
|     Michael|  4600|
|      Robert|  4100|
|       Maria|  3000|
+------------+------+

+------------+----------+------+
|EmployeeName|Department|Salary|
+------------+----------+------+
|     Michael|     Sales|  4600|
|      Robert|     Sales|  4100|
+------------+----------+------+

+----------+-----------+
|Department|avg(Salary)|
+----------+-----------+
|     Sales|     3900.0|
|   Finance|     3000.0|
+----------+-----------+

In [6]:
# TUGAS 2

# 1. Menampilkan hanya kolom tertentu (select)
print("=== Menampilkan Nama dan Gaji ===")
df.select("EmployeeName", "Salary").show()

# 2. Filter data dengan kondisi (gaji > 3000)
print("=== Karyawan dengan gaji > 3000 ===")
df.filter(df["Salary"] > 3000).show()

# 3. Hitung rata-rata gaji per departemen
print("=== Rata-rata gaji per departemen ===")
df.groupBy("Department").avg("Salary").show()

# 4. Hitung gaji maksimum per departemen
print("=== Gaji maksimum per departemen ===")
df.groupBy("Department").max("Salary").show()

# 5. Hitung total gaji (sum) per departemen
print("=== Total gaji per departemen ===")
df.groupBy("Department").sum("Salary").show()

=== Menampilkan Nama dan Gaji ===
+------------+------+
|EmployeeName|Salary|
+------------+------+
|       James|  3000|
|     Michael|  4600|
|      Robert|  4100|
|       Maria|  3000|
+------------+------+

=== Karyawan dengan gaji > 3000 ===
+------------+----------+------+
|EmployeeName|Department|Salary|
+------------+----------+------+
|     Michael|     Sales|  4600|
|      Robert|     Sales|  4100|
+------------+----------+------+

=== Rata-rata gaji per departemen ===
+----------+-----------+
|Department|avg(Salary)|
+----------+-----------+
|     Sales|     3900.0|
|   Finance|     3000.0|
+----------+-----------+

=== Gaji maksimum per departemen ===
+----------+-----------+
|Department|max(Salary)|
+----------+-----------+
|     Sales|       4600|
|   Finance|       3000|
+----------+-----------+

=== Total gaji per departemen ===
+----------+-----------+
|Department|sum(Salary)|
+----------+-----------+
|     Sales|      11700|
|   Finance|       3000|
+----------+-----------+

In [7]:
# TUGAS 3

# 1. Menambahkan kolom baru SalaryBonus = 10% dari Salary
print("=== Menambahkan kolom SalaryBonus (10% dari gaji) ===")
df = df.withColumn("SalaryBonus", df["Salary"] * 0.1)
df.show()

# 2. Menambahkan kolom baru TotalCompensation = Salary + SalaryBonus
print("=== Menambahkan kolom TotalCompensation ===")
df = df.withColumn("TotalCompensation", df["Salary"] + df["SalaryBonus"])
df.show()

=== Menambahkan kolom SalaryBonus (10% dari gaji) ===
+------------+----------+------+-----------+
|EmployeeName|Department|Salary|SalaryBonus|
+------------+----------+------+-----------+
|       James|     Sales|  3000|      300.0|
|     Michael|     Sales|  4600|      460.0|
|      Robert|     Sales|  4100|      410.0|
|       Maria|   Finance|  3000|      300.0|
+------------+----------+------+-----------+

=== Menambahkan kolom TotalCompensation ===
+------------+----------+------+-----------+-----------------+
|EmployeeName|Department|Salary|SalaryBonus|TotalCompensation|
+------------+----------+------+-----------+-----------------+
|       James|     Sales|  3000|      300.0|           3300.0|
|     Michael|     Sales|  4600|      460.0|           5060.0|
|      Robert|     Sales|  4100|      410.0|           4510.0|
|       Maria|   Finance|  3000|      300.0|           3300.0|
+------------+----------+------+-----------+-----------------+

In [8]:
# Contoh menggunakan window functions
from pyspark.sql.window import Window
from pyspark.sql import functions as F

windowSpec = Window.partitionBy('Department').orderBy('Salary')
df.withColumn('Rank', F.rank().over(windowSpec)).show()

+------------+----------+------+-----------+-----------------+----+
|EmployeeName|Department|Salary|SalaryBonus|TotalCompensation|Rank|
+------------+----------+------+-----------+-----------------+----+
|       Maria|   Finance|  3000|      300.0|           3300.0|   1|
|       James|     Sales|  3000|      300.0|           3300.0|   1|
|      Robert|     Sales|  4100|      410.0|           4510.0|   2|
|     Michael|     Sales|  4600|      460.0|           5060.0|   3|
+------------+----------+------+-----------+-----------------+----+

In [9]:
# TUGAS 4

# Contoh dataset
data = [
    ("A", "IT", 3000),
    ("B", "IT", 4000),
    ("C", "HR", 2500),
    ("D", "HR", 2800),
    ("E", "Finance", 3500),
    ("F", "Finance", 4500),
    ("G", "IT", 5000)
]

columns = ["Name", "Department", "Salary"]

# Membuat DataFrame
df = spark.createDataFrame(data, columns)

print("=== Data Awal ===")
df.show()

# Definisi window untuk perhitungan rank dalam tiap department
windowSpec = Window.partitionBy("Department").orderBy(F.col("Salary").desc())

# Menambahkan kolom ranking
df_rank = df.withColumn("Rank", F.rank().over(windowSpec))

print("=== Ranking berdasarkan Salary tiap Department ===")
df_rank.show()

# Definisi window untuk running total (cumulative sum salary per department)
windowSpecRunning = Window.partitionBy("Department").orderBy("Salary").rowsBetween(Window.unboundedPreceding, Window.currentRow)

# Menambahkan kolom Running Total
df_running = df.withColumn("RunningTotal", F.sum("Salary").over(windowSpecRunning))

print("=== Running Total Salary tiap Department ===")
df_running.show()

=== Data Awal ===
+----+----------+------+
|Name|Department|Salary|
+----+----------+------+
|   A|        IT|  3000|
|   B|        IT|  4000|
|   C|        HR|  2500|
|   D|        HR|  2800|
|   E|   Finance|  3500|
|   F|   Finance|  4500|
|   G|        IT|  5000|
+----+----------+------+

=== Ranking berdasarkan Salary tiap Department ===
+----+----------+------+----+
|Name|Department|Salary|Rank|
+----+----------+------+----+
|   F|   Finance|  4500|   1|
|   E|   Finance|  3500|   2|
|   D|        HR|  2800|   1|
|   C|        HR|  2500|   2|
|   G|        IT|  5000|   1|
|   B|        IT|  4000|   2|
|   A|        IT|  3000|   3|
+----+----------+------+----+

=== Running Total Salary tiap Department ===
+----+----------+------+------------+
|Name|Department|Salary|RunningTotal|
+----+----------+------+------------+
|   E|   Finance|  3500|        3500|
|   F|   Finance|  4500|        8000|
|   C|        HR|  2500|        2500|
|   D|        HR|  2800|        5300|
|   A|        IT|  3000|        3000|
|   B|        IT|  4000|        7000|
|   G|        IT|  5000|       12000|
+----+----------+------+------------+

In [16]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

# 1. Buat SparkSession
spark = SparkSession.builder.appName("Tugas5").getOrCreate()

# 2. Load dataset CSV
df = spark.read.csv("/home/bila/Downloads/Reviews.csv", header=True, inferSchema=True)

# 3. Mengecek jumlah baris dan kolom
print("Jumlah baris:", df.count())
print("Jumlah kolom:", len(df.columns))

# 4. Mengecek schema (struktur dataset)
print("=== Schema Dataset ===")
df.printSchema()

# 5. Eksplorasi dasar: jumlah review per skor
print("=== Jumlah Review per Rating (Score) ===")
df.groupBy("Score") \
    .count() \
    .orderBy("Score") \
    .withColumnRenamed("count", "review_count") \
    .show(truncate=False)

# 6. Top 10 produk dengan review terbanyak
print("=== Top 10 Produk dengan Review Terbanyak ===")
df.groupBy("ProductId") \
    .count() \
    .orderBy(F.desc("count")) \
    .withColumnRenamed("count", "review_count") \
    .show(10, truncate=False)

# 7. Statistik deskriptif pada kolom Score
print("=== Statistik Deskriptif Rating (Score) ===")
df.select("Score").describe().show(truncate=False)

# 8. Filter review dengan rating tinggi (>4)
print("=== Review dengan Rating > 4 ===")
df.filter(F.col("Score") > 4) \
    .select("ProductId", "UserId", "Score", "Summary") \
    .show(10, truncate=False)

Jumlah baris: 568454
Jumlah kolom: 10
=== Schema Dataset ===
root
 |-- Id: integer (nullable = true)
 |-- ProductId: string (nullable = true)
 |-- UserId: string (nullable = true)
 |-- ProfileName: string (nullable = true)
 |-- HelpfulnessNumerator: string (nullable = true)
 |-- HelpfulnessDenominator: string (nullable = true)
 |-- Score: string (nullable = true)
 |-- Time: string (nullable = true)
 |-- Summary: string (nullable = true)
 |-- Text: string (nullable = true)

=== Jumlah Review per Rating (Score) ===

+--------------+------------+
|Score         |review_count|
+--------------+------------+
|NULL          |3           |
| ..."         |23          |
| Author"""    |3           |
| Comp sci"""  |1           |
| Critic"""    |1           |
| Dad"""       |1           |
| Dance..."    |4           |
| Design       |1           |
| Ed..."       |1           |
| Hugs"""      |1           |
| Lyme ..."    |1           |
| Medit..."    |2           |
| Moscow       |1           |
| Music Fan..."|8           |
| RN"""        |23          |
| Sm..."       |1           |
| USA ..."     |1           |
| Video Games  |1           |
| a..."        |10          |
| and F..."    |1           |
+--------------+------------+
only showing top 20 rows
=== Top 10 Produk dengan Review Terbanyak ===

+----------+------------+
|ProductId |review_count|
+----------+------------+
|B007JFMH8M|913         |
|B002QWP89S|632         |
|B0026RQTGE|632         |
|B002QWHJOU|632         |
|B002QWP8H0|632         |
|B003B3OOPA|623         |
|B001EO5Q64|567         |
|B0013NUGDE|564         |
|B0026KPDG8|564         |
|B007M832YY|564         |
+----------+------------+
only showing top 10 rows
=== Statistik Deskriptif Rating (Score) ===

+-------+------------------+
|summary|Score             |
+-------+------------------+
|count  |568451            |
|mean   |4.176305349530591 |
|stddev |1.3838779707236712|
|min    | ..."             |
|max    |book-blogger"""   |
+-------+------------------+

=== Review dengan Rating > 4 ===
+----------+--------------+-----+----------------------------------------------------------------+
|ProductId |UserId        |Score|Summary                                                         |
+----------+--------------+-----+----------------------------------------------------------------+
|B001E4KFG0|A3SGXH7AUHU8GW|5    |Good Quality Dog Food                                           |
|B006K2ZZ7K|A1UQRSCLF8GW1T|5    |Great taffy                                                     |
|B006K2ZZ7K|A1SP2KVKFXXRU1|5    |Great!  Just as good as the expensive brands!                   |
|B006K2ZZ7K|A3JRGQVEQN31IQ|5    |Wonderful, tasty taffy                                          |
|B000E7L2R4|A1MZYO9TZK0BBI|5    |Yay Barley                                                      |
|B00171APVA|A21BT40VZCCYT4|5    |Healthy Dog Food                                                |
|B0001PB9FE|A3HDKO7OW0QNK4|5    |The Best Hot Sauce in the World                                 |
|B0009XLVG0|A2725IB4YY9JEB|5    |"My cats LOVE this ""diet"" food better than their regular food"|
|B001GVISJM|A2MUGFV2TDQ47K|5    |Strawberry Twizzlers - Yummy                                    |
|B001GVISJM|A1CZX3CP8IKQIJ|5    |Lots of twizzlers, just what you expect.                        |
+----------+--------------+-----+----------------------------------------------------------------+
only showing top 10 rows